<p id="notice"><%= notice %></p>

<div class="col-md-10">
	<p>
	  <strong>Name:</strong>
	  <%= @business.name %>
	</p>

	<p>
	  <strong>Owner:</strong>
	  <%= @business.owner %>
	</p>

	<p>
	  <strong>Category:</strong>
	  <%= @business.category %>
	</p><br/>
</div>

<div class="col-md-10">
	<p><strong> Hours of Operation </strong></p><br/>
	<% @business.hours.each do |day| %>
		<div class="col-xs-3">
			<p><strong><%= day.weekday %></strong></p>
			<p><%= "Open: #{day.opening.hour} : #{day.opening.min}" %></p>
			<p><%= "Close: #{day.closing.hour} : #{day.closing.min}" %></p>
		</div>
	<% end %>
</div>

<div class="col-md-10">
	<%= link_to 'Edit', edit_business_path(@business) %> |
	<%= link_to 'Back', businesses_path %>
</div>